name: Publish Package

on:
  push:
    branches: [ updateFlutterReleaseCI ]

jobs:
  publish: 
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'release')

    permissions:
      id-token: write  
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get

      - name: Dry Run Publish
        run: flutter pub publish --dry-run

      - name: Publish Package using OIDC
        run: |
          yes | flutter pub publish
