name: Publish Package

on:
  push:
    tags:
      - 'v*' 

jobs:
  publish:
    if: contains(github.event.head_commit.message, 'release')
    permissions:
      id-token: write   
      contents: read

    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
